{% extends "base.html" %} 
{% block content %}
<a href="{{ url_for('main.index') }}" class="text-white bg-blue-500 hover:bg-blue-700 font-bold py-2 px-4 rounded shadow-md transition duration-300 ease-in-out transform hover:-translate-y-1 hover:shadow-lg">
    Back to Home
</a>

<header class="text-white py-10">
    <div class="container mx-auto text-center">
        {% if user %}
            <h1 class="text-5xl font-extrabold bg-gradient-to-r from-yellow-400 via-orange-500 to-red-500 text-transparent bg-clip-text drop-shadow-lg">Welcome, {{ user.username }}!</h1>
            <p class="mt-4 text-2xl bg-gradient-to-r from-yellow-400 via-orange-500 to-red-500 text-transparent bg-clip-text">Your current score: {{ score }}</p>
            <p class="mt-2 text-xl bg-gradient-to-r from-yellow-400 via-orange-500 to-red-500 text-transparent bg-clip-text">Your high score: {{ user.highScore }}</p>
        {% else %}
            <h1 class="text-5xl font-extrabold bg-gradient-to-r from-yellow-400 via-orange-500 to-red-500 text-transparent bg-clip-text drop-shadow-lg">Welcome!</h1>
            <p class="mt-4 text-2xl bg-gradient-to-r from-yellow-400 via-orange-500 to-red-500 text-transparent bg-clip-text">Your current score: {{score}}</p>
        {% endif %}
    </div>
</header>

<form action="{{ url_for('game.process_selection') }}" method="post" class="flex flex-wrap justify-center gap-8">
    {% for game in game_list %}
        <div class="bg-black p-6 border border-gray-600 rounded-2xl transition duration-300 ease-in-out transform hover:-translate-y-3 hover:shadow-2xl w-full md:w-5/12 xl:w-1/4 hover:scale-105">
            <h3 class="text-4xl font-bold bg-gradient-to-r from-yellow-400 via-orange-500 to-red-500 text-transparent bg-clip-text text-center mb-4">{{ game[0] }}</h3>
            <button type="submit" name="selected_game" value="{{ game[0] }}">
                <img src="{{ game[1] }}" alt="{{ game[0] }} background image" class="rounded-xl object-cover h-72 w-full transition transform duration-500 hover:scale-110">
            </button>
        </div>
    {% endfor %}
</form>
{% endblock %}
