<!-- TODO -->

{% extends "base.html" %} {% block content %}
<a href="{{ url_for('main.index') }}" class="text-white bg-blue-500 hover:bg-blue-700 font-bold py-2 px-4 rounded">
    Back to Home
</a>

<div class="bg-transparent shadow-md rounded-md overflow-hidden max-w-lg mx-auto mt-16">
    <div class="bg-white py-2 px-4">
        <h2 class="text-xl font-semibold text-red-600">Leaderboard</h2>
    </div>
    <ol class="divide-y divide-gray-700">
        {% for username, user_score in scores %}
        <li class="flex items-center py-4 px-6">
            <span class="text-gray-300 text-lg font-medium mr-4">{{ loop.index }}.</span>
            <div class="flex-1 flex justify-between">
                <h3 class="text-lg font-bold text-blue-600">{{ username }}</h3>
                <p class="text-green-400 font-bold text-base">{{ user_score }} points</p>
            </div>            
        </li>
        {% endfor %}
    </ol>
</div>

{% endblock %}