<!-- TODO -->

{% extends "base.html" %} 
{% block content %}
<a href="{{ url_for('main.index') }}" class="text-white bg-blue-500 hover:bg-blue-700 font-bold py-2 px-4 rounded">
    Back to Home
</a>

<div class="bg-transparent shadow-md rounded-md overflow-hidden max-w-lg mx-auto mt-16">
    <div class="bg-white py-2 px-4">
        <h2 class="text-xl font-semibold text-red-600">Leaderboard</h2>
    </div>
    <ol class="divide-y divide-gray-700">
        {% for username, profile_pic, user_score in scores %}
        <li class="flex items-center justify-between py-4 px-6">
            <!-- <span class="text-green-300 text-lg font-medium">{{ loop.index }}. </span> -->
            <div class="flex items-center flex-grow">
                <h3 class="text-lg font-bold text-left text-orange-500 mr-2">{{ username }}</h3>
                <p class="text-yellow-400 font-bold justify-center mr-4">{{ user_score }} points</p>
            </div>
            <img src="data:image/jpeg;base64,{{ profile_pic }}" alt="Profile Picture" class="w-11 h-11 rounded-full"> <!-- Adjusted here -->
        </li>
             
        {% endfor %}
    </ol>
</div>




{% endblock %}
