{% extends "base.html" %} 
{% block content %}
<div class="min-h-screen flex flex-col items-center justify-center bg-black text-white">
    <h1 class="text-4xl font-bold mb-2 text-red-600">You Lost!</h1>
    <p class="text-xl mb-1 bg-gradient-to-r from-yellow-500 to-red-500 text-transparent bg-clip-text">Your current score: {{ lastScore }}</p>
    <p class="text-xl mb-5 bg-gradient-to-r from-yellow-500 to-red-500 text-transparent bg-clip-text">Your highest score: {{ user.highScore }}</p>
    <a href="{{ url_for('main.index') }}" class="bg-blue-500 hover:bg-blue-700 font-bold py-2 px-4 rounded transition duration-300 ease-in-out text-white">
        Back to Home
    </a>
    <a href="{{ url_for('game.leaderboard') }}" class="mt-4 bg-green-500 hover:bg-green-700 font-bold py-2 px-4 rounded transition duration-300 ease-in-out text-white">
        View Leaderboard
    </a>
</div>
{% endblock %}
