{% extends "base.html" %}

{% block content %}
<div class="flex items-center justify-center min-h-screen bg-gray-800 text-white">
    <div class="bg-gray-700 p-6 rounded-lg shadow-lg max-w-sm w-full">
        <div class="text-center">
            {% if user %}
            <h1 class="text-4xl font-bold mb-6"> Welcome back, {{ user.username }}</h1>
            {% if profile_pic_base64 %}
            <img src="data:image/jpeg;base64,{{ profile_pic_base64 }}" alt="Profile Picture" class="mx-auto h-40 w-40 rounded-full mb-6"/>
            {% endif %}

            <h2 class="text-2xl font-semibold mb-4">Previous Scores</h2>
            {% if scores %}
            <div class="space-y-2">
                [
                {% for score in scores %}
                <div class="inline-block rounded-full  px-2 py-1">{{ score }}</div>
                {% endfor %}
                ]
            </div>
            {% else %}
            <p class="text-lg">No scores to display.</p>
            {% endif %}
            {% else %}
            <p class="text-lg">User not found.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
